# Web framework
fastapi
uvicorn[standard]

# Database
psycopg2-binary==2.9.9
sqlalchemy[asyncio]
asyncpg
pgvector
alembic

# AWS / Storage
boto3

# ML / Search
torch>=2.6 --index-url https://download.pytorch.org/whl/cpu
sentence-transformers

# Utils
python-dotenv==1.0.1
